<!-- If content is video, show video -->
{{ if eq .Section "video" }}
{{ .Content }}
{{ end }}

<!-- If content is info, show thumb param -->
{{ if and (eq .Section "info") (ne "true" .Params.summary_file) }}
<div class="video" >
  <a href="{{ .Permalink | absLangURL }}index.html">
    <img src="{{ .Params.thumb | relURL }}" />
  </a>
</div>
{{ end }}

<div>
  <a href="{{ .Permalink | absLangURL }}index.html">
    <h5 class="column-header bg-green fg-white">{{ .Title }}</h5>
  </a>
  <p>{{ .Description }}</p>
</div>
