{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- IDEA TODO: Some Regex stuff to attempt to hide the -->
<!-- current category tag from displaying on lists -->
{{ $currentURL := .Permalink | replaceRE "^http?://.*/([^/]+).html" "$1" }}
{{ $.Scratch.Add "currentURL" $currentURL }}

<h2>{{ .Title }}</h2>
{{ range where .Data.Pages "Section" "info" }}
  {{ if eq "true" .Params.summary_file }}
  {{ .Content }}
  {{ end }}
{{ end }}
<hr class="dotted-rule" />

{{ range .Data.Pages.GroupByParam "series" }}

<!-- Get quantity of content types for eval -->
{{ $lenDoc := (len (where .Pages "Section" "doc" )) }}
{{ $lenVid := (len (where .Pages "Section" "video" )) }}

<!--<h4>{{if ne "" .Key}}Series: {{ .Key }} | {{end}}Docs:{{$lenDoc}} | Vids:{{$lenVid}}</h4>-->
{{ if ne "" .Key }}<a href="/series/{{ .Key | urlize }}.html"><h4 class="fg-white series head">{{ .Key }}</h4></a>{{ end }}
<section class="section-break">
  
  {{ if ne 0 $lenDoc }}
  <aside {{ if eq 0 $lenVid }}class="full-width"{{ end }}>
    <h4>Documents</h4>
    {{ range .Pages }}
      {{ if eq "doc" .Section }}
        {{ .Render "sidebar" }}
      {{ end }}
    {{ end }}
  </aside>
  {{ end }}

  {{ if ne 0 $lenVid }}
  <div class="grid">
    {{ range .Pages }}
      {{ if eq "video" .Section }}
        <div class="columns-{{if eq 0 $lenDoc}}3{{else}}2{{end}}">
          {{ .Render "grid" }}
        </div>
      {{ end }}
    {{ end }}
  </div>
  {{ end }}
  
</section>
{{ end }}

{{ partial "footer.html" . }}
