{{range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  {{ if eq "categories" $taxonomyname }}
    {{ range $key, $value := $taxonomy }}
    <h2>{{ $key }}</h2>
    <hr class="dotted-rule" />
    <div class="row section-break">
      {{ range sort $value.Pages }}
        {{ if eq "video" .Type }}
        <div class="columns-4">
          {{ .Render "grid" }}
        </div>
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
  {{ end }}
{{ end }}


{{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
  <h3>{{ $taxonomyName }}</h3>
    {{ range $key, $value := $taxonomy }}
        <h2>{{ $key | humanize | title }}</h2>
        <div class="row">
        {{ range $value.Pages }}
          <div class="columns-4">
          {{ .Render "grid" }}
          </div>
        {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ range $key, $value := .Site.Taxonomies }}
  {{ if eq $key "series" }}
    {{ range $key2, $value2 := $value }}
      <!--{{ if ne $key2 "" }}-->
      {{ if (len (where $value2.Pages "Section" "video"))}}
        <h4>{{ $key2 | humanize | title }}</h4>
        <div class="row">
          {{ range $value2.Pages }}
            {{ if eq .Section "video" }}
            <div class="columns-3">
              <!--{{ .Render "grid" }}-->
            </div>
            {{end}}
          {{end}}
        </div>
        
        {{ end }}
      <!--{{ end }}-->
    {{ end }}
  {{ end }}
{{ end }}
