{{ partial "header.html" . }}

<div class="slider single-item">
  <div>
    <a href="">
      <img src="http://partylite.vo.llnwd.net/o15/u/USOLC/Learning_Center/LC_Main/LC_Main_Graphics/Landing_Page_Graphics/Landing_Page_September2014_Charles/Main_Images/Facebook_Party_Main.jpg" />
      <div class="slider-title bg-dkblue">
        <h4>Facebook Party</h4>
      </div>
    </a> 
  </div>
  <div>
    <a href="">
      <img src="http://partylite.vo.llnwd.net/o15/u/USOLC/Learning_Center/LC_Main/LC_Main_Graphics/Landing_Page_Graphics/Landing_Page_September2014_Charles/Main_Images/Apprentice_Program_Mock_Party_Main.jpg" />
      <div class="slider-title bg-red">
        <h4>Party Video</h4>
        <p>Get 2&ndash;3 bookings and 4&ndash;5 Sponsoring Leads using this format.</p>
      </div>
    </a>
  </div>
  <div>
    <a href="">
      <img src="http://partylite.vo.llnwd.net/o15/u/USOLC/Learning_Center/LC_Main/LC_Main_Graphics/Landing_Page_Graphics/Landing_Page_September2014_Charles/Main_Images/Booking_Perks_Made_Easy_Main.jpg" />
      <div class="slider-title bg-mdblue">
        <h4>Booking Perks Made Easy</h4>
        <p>Check out this step-by-step instructional video on how to enter Booking perks.</p>
      </div>
    </a>
  </div>
</div>

{{ partial "footer.html" . }}
