{{ partial "header.html" . }}

<!-- Slick slider begins -->
<div class="slider single-item section-break">
  {{ range where .Data.Pages "Section" "slider" }}
    {{ .Render "slider" }}
  {{ end }}
</div>

<!-- Info Triptych begins-->
<section class="grid section-break">
  
  <!-- Webinars -->
  <div class="columns-3 bg-ltgrey triptych">
    <img src="{{ "/images/Product Shot3.jpg" | relURL }}" alt="Product Shot" />
    <h5 class="column-header bg-red fg-white">{{ .Site.Params.webinars }}</h5>
    <ul>
      {{ range .Site.Taxonomies.categories.webinars }}
      <li><a href="{{ .Page.URL }}index.html">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
  
  <!-- Business Guides -->
  <div class="columns-3 bg-ltgrey triptych">
    <img src="{{ "/images/Product shot1.jpg" | relURL }}" alt="Product Shot"/>
    <h5 class="column-header bg-mdblue fg-white">{{ .Site.Params.businessguides }}</h5>
    <ul>
      {{ range .Site.Taxonomies.categories.businessguides }}
      <li><a href="{{ .Page.URL }}index.html">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
  
  <!-- Tutorials -->
  <div class="columns-3 bg-ltgrey triptych">
    <img src="{{ "/images/Product Shot5.jpg" | relURL }}" alt="Product Shot"/>
    <h5 class="column-header bg-green fg-white">{{ .Site.Params.tutorials }}</h5>
    <ul>
      {{ range .Site.Taxonomies.categories.tutorials }}
      <li><a href="{{ .Page.URL }}index.html">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>
  
</section>

{{ partial "footer.html" . }}
