<footer class="grid">
  <div class="columns-3">
    <h4>Quick Links</h4>
    <ul>
      {{ range .Site.Taxonomies.categories.quicklink }}
       <li><a href="/series/{{ .Page.Params.series | urlize}}.html">{{ .Page.Params.series }}</a></li>
      {{ end }}
    </ul>
  </div>
  
  <div class="columns-3">
    <h4>Programs at-a-Glance</h4>
    <ul>
    </ul>
  </div>

  <div class="columns-3">
    <a href="http://www.partylite.com/">
      <img src="http://partylite.vo.llnwd.net/o15/u/CAOLC/Learning_Center_Canada/English/LC_Main/LC_Main_Graphics/Partylite_logo_Small.png" alt="PartyLite" />
    </a>
  </div>
</footer>

<p class="copyright">&copy;{{ .Now.Year }} PartyLite Worldwide Inc. All rights reserved.</p>

<!-- Scripts -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/nav.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/nav-scroll.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/plvid.js"></script>

<!-- Slick Image Carousel -->
<script type="text/javascript" src="{{ .Site.BaseURL }}slick/slick.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/slick.js"></script>


</body>

</html>
