<footer class="grid">
  <div class="footer-nav">
    <ul>
      <li>Programs at-a-Glance</li>
      <ul>
        <li>Facebook Party</li>
      </ul>
    </ul>
  </div>
  <!--
  <div class="columns-3">
    <h4>Quick Links</h4>
    <ul>
      <li>Facebook Party</li>
      <li>Booking Perks Made Easy</li>
      <li>Winter/Sprint 2016</li>
      <li>Commercials For Your Customers</li>
      <li>Host and Booking Program</li>
    </ul>
  </div>
  <div class="columns-3">

    <h4>Programs at-a-Glance</h4>
    <ul>
      <li>Facebook Party</li>
      <li>Booking Perks Made Easy</li>
      <li>Winter/Sprint 2016</li>
      <li>Commercials For Your Customers</li>
      <li>Host and Booking Program</li>
    </ul>
  </div>
-->
  <div class="columns-3">
    <a href="http://www.partylite.com/">
      <img src="http://partylite.vo.llnwd.net/o15/u/CAOLC/Learning_Center_Canada/English/LC_Main/LC_Main_Graphics/Partylite_logo_Small.png" alt="PartyLite" />
    </a>
  </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/nav.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/plvid.js"></script>


</body>

</html>
