<nav class="nav-main">
  
  <!-- Mobile size menu -->
  <div class="hamburger">
    <!-- 
    <img class="nav-logo" src="{{ .Site.BaseURL }}{{- .Site.Params.logomark -}}" alt="" />
    -->
    <!--<h4 class="nav-title"><a href="{{- .Site.BaseURL -}}index.html">{{ .Site.Title }}</a></h4>-->
    <div class="nav-logo">
      <img src="{{ .Site.BaseURL }}{{ .Site.Params.logomobile }}" alt="{{.Site.Title}}" />
    </div>
    <a>
      <i class="hamburger-button fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
  
  <!-- Desktop size menu -->
  <ul class="primary-menu">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li>
      <p>{{ .Name }}</p>
      <ul class="secondary-menu">
        {{ range .Children }}
        <a href="{{ .URL | relLangURL }}">
          <li class="menu-item">{{ .Name }}</li>
        </a>
        {{ end }}
      </ul>
    </li>
    {{ else }}
    <a href="{{ .URL | relLangURL }}">
      <li>
        <p>{{ .Name }}</p>
      </li>
    </a>
    {{ end }} {{ end }}
  </ul>
  
</nav>
