<nav class="nav-main">
  <div class="hamburger">
    <img class="nav-logo" src="{{ .Site.BaseURL }}{{- .Site.Params.logomark -}}" alt="" />
    <h4 class="nav-title"><a href="{{- .Site.BaseURL | relLangURL -}}/index.html">Learning Center</a></h4>
    <a>
      <i class="hamburger-button fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
  <ul>
    {{ $currentNode := . }} 
    {{ range .Site.Menus.main }} 
    {{ if .HasChildren }}
    <li>
      <p>{{ .Name }}</p>
      <ul>
        {{ range .Children }}
        <a href="{{ .URL | relLangURL }}">
          <li class="menu-item">{{ .Name }}</li>
        </a>
        {{ end }}
      </ul>
    </li>
    {{ else }}
    <a href="{{ .URL | relLangURL }}">
      <li>
        <p>{{ .Name }}</p>
      </li>
    </a>
    {{ end }} {{ end }}
  </ul>
</nav>
