// Common //
* {
  box-sizing: border-box;
}

pre {
  font-size: 1rem;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.dotted-rule {
  border: 0;
  border-bottom: .125rem dotted $bodygrey;
  margin: rhythm(.5) 0 rhythm(1);
  padding: 0;
}

.section-break {
  margin-bottom: rhythm(1);
}
