// Common //
* {
  box-sizing: border-box;
}



pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: scroll;
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.dotted-rule {
  border: 0;
  margin: .5rem 0 2rem 0;
  padding: 0;
  border-bottom: .125rem dotted $bodygrey;
}

.section-break {
  margin-bottom: 5rem;
}
