.centered {
  text-align: center;
}

.full-width {
  width: 100%;
}

.columns-4 {
  width: 23%;
  max-width: 23%;
  margin-bottom: 1rem;
  margin-right: 1%;
}

.columns-3 {
  width: 32%;
  max-width: 32%;
  margin-bottom: 1rem;
  margin-right: 1.33%;
}
@media (max-width: 960px) {
  .columns-3 {
    width: 48.5%;
    max-width: 48.5%;
    margin-right: 1.5%;
  }
}
@media (max-width: 500px) {
  .columns-3 {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

.columns-2 {
  width: 48.5%;
  max-width: 48.5%;
  margin-right: 1.5%;
}
@media (max-width: 960px) {
  .columns-2 {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

img {
  width: 100%;
}

section,
footer {
  // auto clearfix
  overflow: auto;
  zoom: 1;
  width: 100%;
}

.grid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
