// Susy breakpoint vars
@include breakpoint-set('to ems', true);
$bp-large: 80em;
$bp-medium: 63em;
$bp-small: 44em;
$bp-mobile: 32em;


$body-padding: 1rem;

// Common use //
* {
  z-index: 0;
}
.right {
  float: right;
}

// JS breakpoint listener,
// Reference: https://www.lullabot.com/articles/importing-css-breakpoints-into-javascript
body {
  &:before {
  display: none;
  content: 'mobile';
  }
  @include susy-breakpoint($bp-mobile) {
    &:before {
      content: 'small';
    }
  }
  @include susy-breakpoint($bp-small) {
    &:before {
       content: 'medium';
    }
  }
  @include susy-breakpoint($bp-medium) {
    &:before {
      content: 'large';
    }
  }
  @include susy-breakpoint($bp-large) {
    &:before {
      content: 'exlarge';
    }
  }
}

body {
  width: 100%;
  margin: 0;
  padding: $body-padding;
  margin: 3rem 0;
  @include susy-breakpoint($bp-mobile) {
    width: 100%;
    margin: 0;
  }
  @include susy-breakpoint($bp-small) {
    width: 90%;
    margin: 0 5%;
  }
  @include susy-breakpoint($bp-medium) {
    width: 80%;
    margin: 0 10%;
  }
  @include susy-breakpoint($bp-large) {
    width: 70%;
    margin: 0 15%;
  }
}

body {
  margin-bottom: 5rem;
}

.centered {
  text-align: center;
}

.full-width {
  width: 100%;
}

.columns-4 {
  width: 23%;
  max-width: 23%;
  margin-bottom: 2rem;
  margin-right: 1%;
}

.columns-3 {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-bottom: 2rem;
  @include susy-breakpoint($bp-mobile) {
    width: 48.5%;
    max-width: 48.5%;
    margin-right: 1.5%;
  }
  @include susy-breakpoint($bp-medium) {
    width: 32%;
    max-width: 32%;
    margin-bottom: 1rem;
    margin-right: 1.33%;
  }
}

.columns-2 {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-bottom: 2rem;
  @include susy-breakpoint($bp-medium) {
    width: 48.5%;
    max-width: 48.5%;
    margin-right: 1.5%;
  }
}

.triptych {
  padding: .5rem 1.5rem;
}

img {
  width: 100%;
}

section,
footer {
  // auto clearfix
  overflow: auto;
  zoom: 1;
  width: 100%;
}

.grid {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-logo {
  display: none;
  @include susy-breakpoint($bp-mobile) {
    display: inherit;
    width: 15rem;
  }
}

.nav-logo {
  height: 100%;
  padding: .25rem 0;
  width: auto;
  margin-left: 1rem;
}
