// Typography
@import url('https://fonts.googleapis.com/css?family=Montaga|Open+Sans|Playfair+Display|Abhaya+Libre|Cardo');

$font-header: 'Warnock Pro', 'Cardo', 'Palatino Linotype', 'Book Antigua', 'Abhaya Libre', 'Montaga', 'Playfair Display', Garamond, serif;
$font-body: 'Trebuchet MS', 'Open Sans', Arial, Helvetica, sans-serif;

$bsae-font-size: 16px;
$base-line-height: 1.75rem;
$round-to-nearest-half-line: true;
$rhythm-unit: 'rem';

@include establish-baseline;

// Responsive root declaration
html {
  font-size: .8rem;
  @include susy-breakpoint($bp-mobile) {
    font-size: .85rem;
  }
  @include susy-breakpoint($bp-medium) {
    font-size: .9rem;
  }
  // For large sizes only?
  @media (min-width: 2100px) {
    font-size: 30px;
  }
}

// Family/Weight/Case declarations
body {
  font-family: $font-body;
}

h1,
h2,
h3 {
  font-family: $font-header;
}

h1,
h2,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: bold;
  font-weight: 700;
}

// Padding & Margin declarations
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  color: $dkblue;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.15rem;
}

h5,
input {
  font-size: 1rem;
}

h6 {
  font-size: .75rem;
  letter-spacing: .09735rem;
}

a {
  &:link {
    text-decoration: none;
  }
}

p {
  font-size: 1rem;
  margin-bottom: rhythm(1);
}

.bullet-list {
  li {
    list-style: disc;  
  }
}

nav {
  text-transform: uppercase;
  letter-spacing: .09375rem; // =1.5px on main site
  & * {
    z-index: 200;
  }
  ul {
    li {
      p {
        font-size: .75rem;  
      }
      ul {
        li {
          font-size: .7rem;
          letter-spacing: .0625rem; // =1px on main site  
        }
      }
    }
  }
}

.nav-header {
  font-size: .75rem;
}

li {
  margin-bottom: rhythm(.25);
  list-style: none;
}

ul {
  margin: 0 rhythm(.5);
  padding-left: rhythm(.5);
}

.copyright {
  font-size: .6rem;
}

hr {
  margin: rhythm(1) 0;
}

.sidebar {
  li {
    text-transform: capitalize;
  }
}
