.the-color-thing {
  background-color: red;
}

$white: rgb(255, 255, 255);
$dkgrey: rgb(75, 75, 75);
$ltgrey: rgb(200, 200, 200);

$lc-ltblue: rgb(161, 219, 239);
$lc-dkblue: rgb(20, 93, 118);
$lc-ltblue-wash: rgb(240, 240, 240);

$pl-dkblue: rgb(0, 46, 95);
$pl-ltblue: rgb(37, 120, 213);
