@import 'compass';
@import 'compass/css3';

// Partials
@import '_colors.scss';
@import '_typography.scss';
@import '_common.scss';
@import '_layout.scss';

// Styles //
.right {
  float: right;
}

.info {
  img:first-child {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

button,
.submit {
  font-family: $font-body;
  text-transform: uppercase;
  color: $dkblue;
  border: 0;
  border-radius: 5px;
  margin: .25rem;
  padding: .25rem;
  &:hover {
    background-color: $ltblue;
    color: $white;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0;
}

.tag {
  display: inline-block;
  white-space: nowrap;
  font-size: .7rem;
  padding: .25rem .5rem;
  color: $white;
  text-transform: uppercase;
  margin: 0 .25rem;
  float: right;
  &:hover {
    text-decoration: underline;
  }
}

strong {
  color: $dkgrey;
  font-weight: 700;
}

.category {background-color: $mdblue;}
.series {background-color: $red;}
.section {background-color: $green;}

.head {
  margin: 0;
  padding: .75rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $ltgrey;
  padding: 1rem;
  margin: .5rem;
}

.inset-rule-box {
  width: 100%;
  padding: 2rem;
  text-align: center;
  height: 100%;
  & > div {
    border: .25rem solid $white;
    padding: 1rem;
    height: 100%;
  }
}

// Header //
header {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}

#header-search {
  font-family: $font-body;
  font-weight: bold;
  padding: .5rem;
  color: $dkblue;
  .text {
    width: 100%;
    height: 2rem;
    border: 1px solid $ltblue;
    color: $dkblue;
    padding: .5rem;
  }
}

.site-logo {
  width: 15rem;
}

.header-sidebar {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: flex-end;
  margin-left: auto;
  form {
    width: 50%;
  }
  button {
    padding: .5rem 1.5rem;
  }
  input {
    width: 100%;
  }
  & * {
    margin-left: auto;
  }
}

@media (max-width: 500px) {
  .header-sidebar {
    width: 100%;
    form {
      width: 100%;
    }
    & * {
      margin-left: 0;
      margin-right: auto;
    }
  }
}


// Nav //
nav {
  margin: 0 -1rem; //HACK
  padding: 0 1rem;
  background-color: $dkblue;

  a {
    text-decoration: none;
    color: $white;
    transition: background-color .25s, color .5s;
  }
  li {
    margin: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    position: relative;
    color: $white;
    padding: .5rem;
    transition: color .5s, background-color .5s;

    // Begins second level of menu
    ul {
      @include nav-shadow();
      display: none;
      flex-direction: column;
      position: absolute;
      width: 12rem;
      left: 0;
      background-color: $navwhite;
      z-index: 50;
      margin-top: .5rem;
      li {
        font-size: .7rem;
        color: $dkblue;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $ltblue;
      color: $white;
    }
    &:hover > ul {
      display: flex;
    }
    &:hover > a {
      color: $white;
    }
  }
}

@media (max-width: 500px) {
  nav {
    ul {
      flex-direction: column;
    }
  }
}

// Sidebar //
aside {
  padding: 1rem;
  background-color: $ltgrey;
  height: 100%;
  width: 32%;
  float: right;
  margin-left: auto;
  order: 50;
}

.sidebar {
  margin-bottom: 1rem;
  padding-left: 1rem; //Indent
  h4 {
    margin: 0;
    margin-bottom: .5rem;
  }
}

.img-linked {
  width: 100%;
  opacity: .8;
  border: .0625rem solid $bodygrey;
  transition: opacity .1s ease-in;
  &:hover {
    opacity: 1;
  }
}

// Footer //
footer {
  min-height: 10rem;
  border-top: .0625rem solid $ltgrey;
  margin-top: 3rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  border: 1px solid purple;
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
    }
  }
  & > ul {
    text-transform: uppercase;
    letter-spacing: .0625rem;
    color: $dkblue;
    padding: .5rem;
    transition: color .5s, background-color .5s;
    // Begins second level of menu
    ul {
      li {
        font-size: .7rem;
        color: $dkblue;
      }
    }
  }
}

// Content Types //
.slider {
  width: 100%
}

.plvid {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

iframe {
  //width: 100%;
  border: 0;
}

video {
  border: 1px solid purple;
  position: absolute;
  left: auto;
  top: 0;
  //width: 100%;
  height: 100%;
  //width: auto;
}

.video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; //Keep 16:9 ratio
  overflow: hidden;
  div {
    padding: 0;
  }
  img {
    height: auto;
  }
  & + div {
    h5 { 
    margin: 0;
    padding: 1rem .5rem;
    }
  }
}

.pdf {
  height: 50rem;
}

.commercials {
  width: 100%;
  td:nth-child(2) {
    width: 50%;
  }
  td:nth-child(3) {
    background-color: $bodygrey;
    text-align: center;
  }
}

.external-link {
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: $ltblue;
  color: $dkblue;
  padding: .25rem;
  margin: .25rem 0;
  transition: background-color .2s ease-in, color .2s ease-in;
  i {
    margin: 0 .5rem 0 .25rem;
  }
  &:hover {
    color: $white;
    background-color: $dkblue;
  }
}
