@import 'compass';
@import 'compass/reset';
@import 'compass/css3';

@import 'susy';
@import 'breakpoint';

// Partials
@import 'layout';
@import 'colors';
@import 'typography';
@import 'common';

@import 'slick';
@import 'slick-theme';

// Styles //
.copyright {
  opacity: .5;
}

.copyright-block {
  flex-direction: column;
  margin-left: auto;
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    width: 50%;
  }

  @include susy-breakpoint($bp-small) {
    width: 40%;
  }

  @include susy-breakpoint($bp-medium) {
    width: 30%;
  }

  p {
    text-align: right;
    width: auto;
  }

  a {
    display: inline;
  }
}

strong {
  color: $dkgrey;
  font-weight: 700;
}

.info {
  img:first-child {
    //height: 240px;
    object-fit: cover;
    width: 100%;
  }
}

button,
.submit {
  border: 0;
  border-radius: 5px;
  color: $dkblue;
  font-family: $font-body;
  margin: .25rem;
  padding: .25rem;
  text-transform: uppercase;

  &:hover {
    background-color: $ltblue;
    color: $white;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 0;

  @include susy-breakpoint($bp-mobile) {
    justify-content: flex-end;
  }
}

.tag {
  $tag-padding: .25rem;
  color: $white;
  display: inline-block;
  float: none;
  font-size: .7rem;
  margin: rhythm(.125);
  //margin: inherit;
  padding: rhythm(.125) rhythm(.25);
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.list {
  background-color: $ltgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5rem;
  padding: 1rem;
}

.inset-rule-box {
  height: 100%;
  padding: 2rem;
  text-align: center;
  width: 100%;

  > div {
    border: .25rem solid $white;
    height: 100%;
    padding: 1rem;
  }
}


// Header //
header {
  background-color: $white;
  flex-direction: column;
  left: 0;
  padding-bottom: 0;
  //position: fixed;
  top: 0;
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
  }
}

.header-search {
  color: $dkblue;
  font-family: $font-body;
  font-weight: bold;

  .text {
    background-color: $ltgrey;
    border: 0;
    color: $bodygrey;
    height: 2rem;
    padding: .5rem;
    text-align: right;
    width: 100%;
  }
}

.header-sidebar {
  display: none; //NOTE: Reference nav-scroll.js
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    width: 40%;

    input {
      width: 100%;
    }
  }

  form {
    margin: 0;
    margin-bottom: .5rem;
    padding: 0;
    width: 100%;
  }
}

// Nav //
.menu-item {
  padding-left: 1rem;
}

nav {
  @include susy-breakpoint($bp-mobile) {
    flex-direction: row;
  }

  * {
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: background-color .5s, color .25s ease-out;
  }
}

.nav-header {
  background-color: inherit;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      background-color: $orange;
      border-radius: rhythm(.25);
      margin-left: rhythm(.5);
      padding: 0 rhythm(.5);
    }
  }
}

//FIXME: Add this and .float to _layout.scss if possible
// (maintain specificity)
// break out .nav-main and nav to be modular
.nav-main {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 190;
  //display: none; //NOTE: Reference nav-scroll.js

  @include susy-breakpoint ($bp-mobile) {
    display: flex;
    margin: 0 (-$body-padding); //HACK
    padding: 0 ($body-padding);
    position: inherit;
    width: auto;
  }
}

.primary-menu { // Primary menu
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0 rhythm(.25);
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    li {
      position: relative;

      &:hover > .secondary-menu {
        display: flex;
        position: absolute;
        width: 12rem;
      }
    }
  }

  li {
    padding: .5rem;

    &:last-child ul {
      right: 0;
    }
  }
}

.secondary-menu { // Secondary menu
  @include nav-shadow;
  display: none;
  flex-direction: column;
  padding-left: 0;
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    margin: .5rem auto auto -.5rem;
  }
}

// Sidebar //
aside {
  background-color: $ltgrey;
  float: none;
  height: 100%;
  margin-bottom: rhythm(1);
  margin-left: auto;
  order: 50;
  padding-bottom: rhythm(1);
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    float: right;
    width: 32%;
  }
}


// Footer //
footer {
  border-top: .0625rem solid $ltgrey;
  min-height: rhythm(5);
  padding-top: rhythm(1);
}

// Content Types //
iframe {
  border: 0;
}

video {
  background-size: cover;
  height: 100%;
  left: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.book {
  text-decoration: none;

  img {
    padding: rhythm(.5);
    width: 100%;
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.video {
  background-size: cover;
  height: 0;
  min-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%; //Keep 16:9 ratio
  position: relative;
  width: 100%;

  div {
    padding: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    width: 100%;
  }

  + div {
    &:hover {
      h5 {
        text-decoration: underline;
      }
    }

    p {
      margin-top: rhythm(.5);
      padding: 0 rhythm(.5);
    }
  }
}

.plvid {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.pdf,
.doc {
  height: rhythm(30);
}

// Mobile Nav //
.hamburger {
  border-bottom: .0625rem solid $white;
  display: flex;
  flex-direction: row;
  height: rhythm(2);
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    display: none;
  }

  h5 {
    width: 100%;
  }

  i {
    color: $ltblue;
    font-size: 2rem;
    line-height: rhythm(2);
  }

  .hamburger-button {
    display: block;
    height: rhythm(2);
    margin-right: rhythm(.5);
    text-align: center;
    width: rhythm(2);
  }
}

.nav-title {
  font-size: 1.2rem;
  line-height: rhythm(2);
  margin-left: rhythm(.5);

  a {
    color: $white;
  }
}


// Refer to navscroll.js for mobile nav visibility.
.show-element {
  display: block;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.hide-element {
  display: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

// Refer to navscroll.js for floating/sticky nav functionality.
//FIXME: Add this and .nav-main to _layout.scss if possible
// (maintain specificity)
.float {
  position: fixed !important; // Needed to override the default class
  top: 0;
  width: 100%;

  @include susy-breakpoint($bp-mobile) {
    margin: 0;
    width: 100%;
  }

  @include susy-breakpoint($bp-small) {
    margin: 0 5%;
    width: 90%;
  }

  @include susy-breakpoint($bp-medium) {
    margin: 0 10%;
    width: 80%;
  }

  @include susy-breakpoint($bp-large) {
    margin: 0 15%;
    width: 70%;
  }
}

.pl-button {
  background-color: $orange;
  border-radius: rhythm(.25);
  display: inline;
  margin-left: rhythm(.5);
  padding: rhythm(.5);

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}
