{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<!--<pre style="width: 100%; white-space: pre-wrap;">{{ printf "%#v" . }}</pre>-->
<!--<pre>{{ .Site.Taxonomies }}</pre>-->  

<h2>{{ .Title }}</h2><span>section/video.html</span>
<hr class="dotted-rule" />

<section>
<div class="grid">
  {{ range .Data.Pages }}
    {{ if eq "video" .Section }}
    <div class="columns-3">
      {{ .Render "grid" }}
      {{ partial "category-tag.html" . }}
      {{ partial "series-tag.html" . }}
    </div>
    {{ end }}
  {{ end }}
</div>
</section>

{{ partial "footer.html" . }}
